html {
    font-weight: bolder;
    font-size: larger;
    line-height: 30px;
    background-attachment: scroll;
}
#gimme-more {
    font-style: italic;
}
.orange {
    color: orange;
}
#center {
    text-align: center;
}